<table style="border-collapse: collapse; border-spacing: 0; margin: 0 auto;" border="0" width="100%" cellspacing="0"
       cellpadding="30" data-mce-style="border-collapse: collapse; border-spacing: 0; margin: 0 auto;"
       class="mce-item-table" data-mce-selected="1">
    <tbody>
    <tr>
        <td class="email-body-content"
            style="padding: 30px; color: #444; font-family: 'Helvetica Neue', sans-serif; font-size: 14px; line-height: 150%;"
            valign="top"
            data-mce-style="padding: 30px; color: #444; font-family: 'Helvetica Neue', sans-serif; font-size: 14px; line-height: 150%;">
            <div style="border-bottom-color: #eee; border-bottom-style: solid; border-bottom-width: 1px; margin-bottom: 20px; padding-bottom: 25px;"
                 data-mce-style="border-bottom-color: #eee; border-bottom-style: solid; border-bottom-width: 1px; margin-bottom: 20px; padding-bottom: 25px;">
                <img style="display: block; margin-left: auto; margin-right: auto;"
                     src="https://sgp1.digitaloceanspaces.com/talent-images/12cc1870-a1a6-11ea-91b8-97fba8c6a283-image.png"
                     width="565" height="163"
                     data-mce-src="https://sgp1.digitaloceanspaces.com/talent-images/12cc1870-a1a6-11ea-91b8-97fba8c6a283-image.png"
                     data-mce-style="display: block; margin-left: auto; margin-right: auto;"></div>
            <h1 style="text-align: center; font-size: 20px; font-weight: 500; color: #505050; margin-bottom: 40px;"
                data-mce-style="text-align: center; font-size: 20px; font-weight: 500; color: #505050; margin-bottom: 40px;">
                MIT - WPU Personal Interview Admit Card</h1>
            <p style="color: #505050; font-size: 15px; line-height: 1.5; margin-bottom: 15px; margin-top: 15px;"
               data-mce-style="color: #505050; font-size: 15px; line-height: 1.5; margin-bottom: 15px; margin-top: 15px;">
                Hi <span><%= applicant.name %></span>,</p>
            <p style="color: #505050; font-size: 15px; line-height: 1.5; margin-bottom: 15px; margin-top: 15px;"
               data-mce-style="color: #505050; font-size: 15px; line-height: 1.5; margin-bottom: 15px; margin-top: 15px;">
                Greetings from MIT-WPU!</p>
            <p style="color: #505050; font-size: 15px; line-height: 1.5; margin-bottom: 15px; margin-top: 15px;"
               data-mce-style="color: #505050; font-size: 15px; line-height: 1.5; margin-bottom: 15px; margin-top: 15px;">
                <strong>Interview Date:</strong>&nbsp;<%= date %> (IST)</p>
            <p style="color: #505050; font-size: 15px; line-height: 1.5; margin-bottom: 15px; margin-top: 15px;"
               data-mce-style="color: #505050; font-size: 15px; line-height: 1.5; margin-bottom: 15px; margin-top: 15px;">
                <strong>Interview URL:</strong>&nbsp;<a href="<%= host + '/event/' + event._id + '/' + applicant._id %>"><%= host + '/event/' + event._id + '/' + applicant._id %></a></p>
            <p style="color: #505050; font-size: 15px; line-height: 1.5; margin-bottom: 15px; margin-top: 15px;"
               data-mce-style="color: #505050; font-size: 15px; line-height: 1.5; margin-bottom: 15px; margin-top: 15px;">
                Please find the details below for your online interview.</p>
            <p><strong>Instructions:</strong></p>
            <ul>
                <li><strong><span class="s1">The interview can be taken from desktop, laptop.</span></strong></li>
                <li><strong><span class="s1">Webcam is required to attempt this interview.</span></strong></li>
                <li><strong><span class="s1">Attempt this exam from Google Chrome browser only.</span></strong></li>
            </ul>
            <p><strong>Support Helpline:&nbsp;</strong><br>Contact: 020 – 7117 7104 / 020 – 7117 7105<br> E-mail: <a
                        href="mailto:admissions@mitwpu.edu.in" data-mce-href="mailto:admissions@mitwpu.edu.in">admissions@mitwpu.edu.in<br></a>WhatsApp
                : 9881492848</p>
            <p>All the Best<br>MIT-WPU Admissions Team</p>
            <table class="button-table mce-item-table"
                   style="border-collapse: collapse; border-spacing: 0; margin: 50px auto 70px;" border="0"
                   cellspacing="0" cellpadding="0" align="center"
                   data-mce-style="border-collapse: collapse; border-spacing: 0; margin: 50px auto 70px;">
                <tbody>
                <tr>
                    <td class="button-td" align="center"><a class="button-a"
                                                            style="background: #409bdb; border: 15px solid #409bdb; font-size: 13px; font-weight: 500; line-height: 1.1; text-align: center; text-decoration: none; border-radius: 3px;"
                                                            href="<%= host + '/event/' + event._id + '/' + applicant._id %>"
                                                            target="_blank" rel="noopener"
                                                            data-mce-style="background: #409bdb; border: 15px solid #409bdb; font-size: 13px; font-weight: 500; line-height: 1.1; text-align: center; text-decoration: none; border-radius: 3px;"><span
                                    style="color: #ffffff;"
                                    data-mce-style="color: #ffffff;">Click Here to Visit The Interview</span></a></td>
                </tr>
                </tbody>
            </table>
            <p class="note" style="color: #aaa; font-size: 13px; line-height: 1.5; margin-bottom: 0; margin- top: 30px;"
               data-mce-style="color: #aaa; font-size: 13px; line-height: 1.5; margin-bottom: 0; margin- top: 30px;">
                &nbsp;</p></td>
    </tr>
    </tbody>
</table>
